main/pkgs/Wadl/LossiePS-TaskSubmission.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="LossiePS-TaskSubmission" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Lossie PS - Task Submission" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Addarowintoatable_TaskType_def" />
      <string name="ManualTriggerInput_Addarowintoatable_Stills_ux2C_VideoorBoth_def" />
      <string name="ManualTriggerInput_Addarowintoatable_TaskDate_def" />
      <string name="ManualTriggerInput_Addarowintoatable_TaskTime_def" />
      <string name="ManualTriggerInput_Addarowintoatable_TaskLocation_def" />
      <string name="ManualTriggerInput_Addarowintoatable_AircraftTailNoCourseNoorOtherLocalReference_def" />
      <string name="ManualTriggerInput_Addarowintoatable_TaskDescription_def" />
      <string name="ManualTriggerInput_Addarowintoatable_Rank_def" />
      <string name="ManualTriggerInput_Addarowintoatable_Name_def" />
      <string name="ManualTriggerInput_Addarowintoatable_PlaceofWork_def" />
      <string name="ManualTriggerInput_Addarowintoatable_Extension_def" />
      <string name="ManualTriggerInput_Addarowintoatable_ResponseID_def" />
      <string name="ManualTriggerInput_Getarow_KeyValue_def" />
      <object name="ManualTriggerInput">
        <property name="Addarowintoatable_TaskType" type="string" />
        <property name="Addarowintoatable_Stills,VideoorBoth" type="string" />
        <property name="Addarowintoatable_TaskDate" type="string" />
        <property name="Addarowintoatable_TaskTime" type="string" />
        <property name="Addarowintoatable_TaskLocation" type="string" />
        <property name="Addarowintoatable_AircraftTailNoCourseNoorOtherLocalReference" type="string" />
        <property name="Addarowintoatable_TaskDescription" type="string" />
        <property name="Addarowintoatable_Rank" type="string" />
        <property name="Addarowintoatable_Name" type="string" />
        <property name="Addarowintoatable_PlaceofWork" type="string" />
        <property name="Addarowintoatable_Extension" type="string" />
        <property name="Addarowintoatable_ResponseID" type="string" />
        <property name="Getarow_KeyValue" type="string" />
      </object>
      <string name="ResponseActionOutput_excel-task_number_def" />
      <object name="ResponseActionOutput">
        <property name="excel-task_number" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Addarowintoatable_TaskType" path="/Addarowintoatable_TaskType" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_Stills,VideoorBoth" path="/Addarowintoatable_Stills,VideoorBoth" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_TaskDate" path="/Addarowintoatable_TaskDate" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_TaskTime" path="/Addarowintoatable_TaskTime" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_TaskLocation" path="/Addarowintoatable_TaskLocation" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_AircraftTailNoCourseNoorOtherLocalReference" path="/Addarowintoatable_AircraftTailNoCourseNoorOtherLocalReference" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_TaskDescription" path="/Addarowintoatable_TaskDescription" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_Rank" path="/Addarowintoatable_Rank" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_Name" path="/Addarowintoatable_Name" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_PlaceofWork" path="/Addarowintoatable_PlaceofWork" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_Extension" path="/Addarowintoatable_Extension" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_ResponseID" path="/Addarowintoatable_ResponseID" type="xs:string" required="true" />
            <param style="plain" name="Getarow_KeyValue" path="/Getarow_KeyValue" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>